body {
  background-color: rgb(151, 245, 245);
}

h1 {
  border: 1px solid black;
}

h2 {
  color: purple;
}

input {
  border: 2px solid darkred;
}

div p {
  background-color: #fffca5;
}

#textblock {
  border: 5px solid grey;
  width: 800px;
  height: 400px;
}

a {
  color: red;
}

#itemOne {
  text-decoration: overline;
  color: purple;
}

.exit {
  background-color: blue;
  border: 5px dashed yellow;
}

a:visited {
  color: blue;
}
